<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title>Conocenos</ion-title>
    <ion-avatar slot="end">
      <img src="/assets/feliz.png" class="feliz" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<!--
<ion-content>

  <ion-card>
    <ion-item color="dark">
      <ion-icon slot="start" name="body-outline"></ion-icon>
      <ion-label>Perfiles</ion-label>
    </ion-item>
  </ion-card>


  <ion-card>
    <img src="/assets/pinkman.jpg" alt="">
    <ion-card-content>
      Hola soy Jesse Pinkman, estudiante de Química y farmacia, me gusta el dinero y cocinar YEAH SCIENCE!.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="/assets/walter.jpg" alt="">
    <ion-card-content>
      Hola soy Walter White, profesor de Química de la escuela Hasta ahora....
    </ion-card-content>
  </ion-card>

</ion-content> -->

<ion-content>
  <ion-card>
    <ion-item color="dark">
      <ion-icon slot="start" name="body-outline"></ion-icon>
      <ion-label>Perfiles</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-avatar >
        <img src="/assets/yo.jpeg" alt="">
      </ion-avatar>
      <ion-card-title>Sebastián Andrés Hurtado meza</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Estudiante de ingenieria informática Duoc UC 21 años 
    </ion-card-content>
  </ion-card>

 <!-- <ion-card>
      <ion-card-header>
        <ion-avatar >
          <img src="/assets/pinkman.jpg" alt="">
        </ion-avatar>
        <ion-card-title>Sebastián Hurtado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Awesome content
      </ion-card-content>
  </ion-card> -->


</ion-content>
  